{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Ma liste de course</h1>
        <p>zhec cuehnckajc iceajczhnaoi chijncoajc ipozkcozacnhoz ojzajdo zhai</p>
    </div>

{% endblock %}