<form method="post" action="{{ path('shopping_list_product_delete', {'id': shopping_list_product.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit de la liste?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shopping_list_product.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
