{% extends 'base.html.twig' %}

{% block title %}Nouvelle Liste{% endblock %}

{% block body %}
    <h1>Nouvelle Liste</h1>

    {{ include('shopping_list/_form.html.twig') }}

    <a href="{{ path('shopping_list_index') }}">back to list</a>
{% endblock %}
